* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 5;
  height: 67px;
  background-color: #03463F;
  width: 100%;
}

header {
  position: relative;
}

.company {
  padding-top: 14px;
}
.company .company_logo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.company .menu {
  gap: 30px;
  align-items: center;
}
.company .menu .menu_items {
  list-style-type: none;
}
.company .menu .menu_items .menu_link {
  color: #fff;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.company .menu .menu_items .menu_link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}
.company .menu .menu_items .menu_link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s;
}

.about {
  background: url("../img/bg/about.jpg") center center/cover no-repeat;
  min-height: 800px;
  padding: 180px 0 135px 0;
}
.about .about_title {
  font-size: 66px;
  font-weight: 900;
  color: #03463F;
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 5px #24605A;
}
.about .about_subtitle {
  font-size: 24px;
  font-weight: 700;
  width: 946px;
  color: #03463F;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0 0 1px #fff, 0 0 3px #24605A;
}

.product {
  background-color: #03463F;
}
.product_view {
  padding: 80px 0 80px 0;
}
.product_img img {
  border-radius: 60px;
  width: 461px;
  height: 314px;
}
.product_title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
}
.product_btn {
  width: 170px;
  height: 60px;
  margin-top: 20px;
  border: none;
  border-radius: 60px;
  background-color: #fff;
  color: #03463F;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s all;
}
.product_btn:hover {
  background-color: #fff;
  border: 2px solid #03463F;
  color: #03463F;
}
.product_btn:active {
  background-color: #0f796e;
  color: #fff;
}

.breeds__box {
  padding: 120px 0 85px 0;
}
.breeds__title {
  color: #03463F;
  font-size: 48px;
  font-weight: 500;
}
.breeds__btn {
  width: 170px;
  height: 60px;
  border-radius: 60px;
  background-color: #03463F;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s all;
}
.breeds__btn:hover {
  background-color: #fff;
  border: 2px solid #03463F;
  color: #03463F;
}
.breeds__btn:active {
  background-color: #0f796e;
  color: #fff;
}

.card_box {
  width: 100%;
}
.card_box img {
  border: 5px solid #03463F;
}
.card_box .box-left {
  border-top-left-radius: 60px;
}
.card_box .box-right {
  border-top-right-radius: 60px;
}

.carousel_sec .carousel-item {
  border-radius: 60px;
}

.rnd {
  border-radius: 60px;
}

.social {
  padding: 143px 0 0 0;
}
.social__media {
  width: 267px;
  height: 98px;
  padding: 24px 0 23px 0;
  margin: 0 auto;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background-color: #03463F;
}

.contacts {
  padding: 41px 0 34px 0;
}
.contacts-img {
  margin: 0 auto;
}
.contacts-location {
  width: 200px;
}
.contacts-location img {
  margin: 0 auto;
}
.contacts-phone {
  width: 200px;
}
.contacts-line {
  width: 2px;
  height: 86px;
  background-color: #fff;
}

.footer {
  background-color: #03463F;
}
.footer__top {
  color: #fff;
}
.footer__bottom {
  color: #DEDEDE;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
}

.vrline {
  display: block;
  height: 2px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */